.background_secondary {
    background-color: #BDE5E4;
}

.is-wide-button {
    width: 325px;
    height: 50px;
    margin: 5px;
}

.login-button {
    /* Primary */
    border-radius: 52px;

    /* Register */
    width: 249px;
    height: 60px;
}

.primary {
    background: #3DC4C0;
    color: #FFFFFF;
}

.secondary {
    /* Secondary */
    background: #CBEDEC;
    color: #101F1E;
}

.welcome-page-container {
    width: 450;
    height: 900;
}

.background_ellipse {
    background-color: #F2FDFC;
    border-radius: 100% / 500%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.filament {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 43px;
    letter-spacing: -0.04em;
    color: #3DC4C0;
}